<ul class="naigation-list">
  <li><%= link_to "Attendance", attendances_path %></li>
  <li><%= link_to "Employees", employees_path %></li>
  <li><%= link_to "Departments", departments_path %></li>
  <li><%= link_to "Zones", zones_path %></li>
  <li><%= link_to "Region", regions_path %></li>
  <li><%= link_to "Payroll", payrolls_path %></li>
</ul>