<li class="list">
  <div class="basecamp_srp_object">
    <%= link_to 'Details', edit_deduction_path(deduction), :class=>"fancy edit" -%>
    <span class="title"> <%= deduction.date.to_date %> | <%= deduction.employee.full_name %> | <%= deduction.amount %></span>
    <%= link_to 'DELETE', deduction_path(deduction), :method => :delete, :confirm => 'This deduction will be deleted forever.  Are you sure?', :class=>"delete" -%>
  </div>
</li>