<%- unless object.errors.blank? -%>
  <div class='formErrors <%= object.class.name.humanize.downcase %>Errors'>
    <%- if message.blank? -%>
      <%- if object.new_record? -%>
        <h5>There was a problem creating this <%= object.class.name.humanize.downcase %></h5>
      <%- else -%>
        <h5>There was a problem updating this <%= object.class.name.humanize.downcase %></h5>
      <% end -%>
    <%- else -%>
      <h5><%= message %></h5>
    <%- end -%>
    <ul>
      <%- object.errors.full_messages.each do |error| -%>
        <li><%= error %></li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>