<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="section_wrapper" style="padding-top:20px;">
    <h2 class="indigo">Sign in</h2>
    <div class="editor">
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me %><%= f.check_box :remember_me %>
      <% end -%>
      <p><%= f.submit "Sign in" %></p>
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
<% end %>